<!DOCTYPE html>
<html lang="es">
  <!--Include head-->
  <%- include("partials/head", {style:"productOrder"}) %>

  <body>
    <!--Include header-->
    <%- include("partials/header") %>
    <main>
      <div class="contenedor-orden">
        <p class="titulo-orden"><%=product.name%></p>
        <div class="orden-imagen">
          <img
            src="/images/products/<%=product.image%>"
            alt=""
            class="orden-img"
          />
        </div>
        <p class="descripcion-orden"><%=product.description%></p>
        <% if (product.name.toLowerCase().includes("pizza")) { %>
          <div class="elegir-cantidad">
            <div class="contenedor-pizza">
              <label class="container">
                <input
                  type="checkbox"
                  name=""
                  data-price=""
                />
                <div class="checkmark"></div>
              </label>
              <p class="adicional-titulo">Media</p>
            </div>
            <div class="contenedor-pizza">
              <label class="container">
                <input
                  type="checkbox"
                  name="<%=product.name%>"
                  data-price="<%=product.price%>"
                  data-id="<%=product.id%>"
                  checked
                />
                <div class="checkmark"></div>
              </label>
              <p class="adicional-titulo">completa</p>
            </div>
          </div>
          <% }%>
        <div class="contenedor-cantidad">
          <p class="titulo-cantidad">cantidad</p>
        </div>
        <% if (product.name.toLowerCase().includes("docena")) { %>
        <div class="cantidad-maxima-empanadas">
          <div class="div-contenedor-maxima">
            <p class="titulo-maxima">0/12</p>
          </div>
        </div>
        <div class="div-elegir-empanadas">
          <% productos.forEach(products => { %> <% if
          (products.name.toLowerCase().includes("empanada")) { %>
            <% if (products.id !== 42) { %>
              <div class="div-tipo-empanada" data-id="<%= products.id%>">
                <div class="nombre-tipo-empanada"><%= products.name %></div>
                <div class="botones-cantidad-empanada">
                  <i class="fa-solid fa-minus menos"></i>
                  <p class="cantidad-empanada">0</p>
                  <i class="fa-solid fa-plus mas"></i>
                </div>
              </div>
              <% } %>
          <% }}) %>
        </div>

        <% } else { %>
        <div class="botones-cantidad">
          <i class="fa-solid fa-minus menos"></i>
          <p class="numero-cantidad">1</p>
          <i class="fa-solid fa-plus mas"></i>
        </div>
        <div class="contendor-detalles">
          <p class="p-detalles">detalles adicionales</p>
          <textarea
            class="textarea-detalles"
            name="detalles"
            id="detalles"
            cols="30"
            rows="5"
          ></textarea>
        </div>
        <% } %> <% if (product.categories.name == "Pizzas" ||
        product.categories.name == "Empanadas") { %>
          <div class="error-active"></div>
           <% } else { %>
        <div class="contenedor-adicionales">
          <p class="p-adicionales">Adicionales</p>
          <i class="fa-solid fa-chevron-down arrow"></i>
        </div>
        <div class="contenedor-adicional-columna">
          <% salsas.forEach(salsa => { %>
          <div class="contenedor-adicional-tipo">
            <div class="contenedor-checkbox">
              <label class="container">
                <input
                  type="checkbox"
                  name="<%=salsa.name%>"
                  data-price="<%=salsa.price%>"
                />
                <div class="checkmark"></div>
              </label>
              <p class="adicional-titulo"><%=salsa.name%></p>
            </div>
            <p class="adicional-precio">$<%=salsa.price%></p>
          </div>
          <% })} %>
          </div>
        <div class="contenedor-boton-continuar">
          <% if (product.name.toLowerCase().includes("pizza")) { %>
            <a class="boton-continuar-pizza" href="/" data-price="<%=product.price%>" data-id="<%=product.id%>" >Continuar</a>
            <% } else { %>
              <a class="boton-continuar" href="/"  data-id="<%=product.id%>" data-price="<%=product.price%>">Continuar</a>
              <% } %>
        </div>
      </div> 
     
      <a href="/product/order-detail" class="contenedor-div-carrito">
        <div class="carrito"><i class="fa-solid fa-basket-shopping"></i></div>
        <div class="contador">0</div>
      </a>
    </main>

    <!--Include footer-->
    <%- include("partials/footer") %> <% if
    (product.name.toLowerCase().includes("docena")) { %>
    <script src="/js/productOrderDocena.js"></script>
    <%   } else { %> 
      <script src="/js/productOrder.js"></script>
    <% } %>
    <% if (product.name.toLowerCase().includes("pizza")) { %>
      <script src="/js/pizzaOrder.js"></script>
      <% }%>
  </body>
</html>
